@charset "UTF-8";

@font-face {
  font-family: "nwc-font";
  src:url("../fonts/nwc-font.eot");
  src:url("../fonts/nwc-font.eot?#iefix") format("embedded-opentype"),
    url("../fonts/nwc-font.woff") format("woff"),
    url("../fonts/nwc-font.ttf") format("truetype"),
    url("../fonts/nwc-font.svg#nwc-font") format("svg");
  font-weight: normal;
  font-style: normal;
}

[data-icon]:before {
  font-family: "nwc-font" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="nwc-"]:before,
[class*=" nwc-"]:before {
  font-family: "nwc-font" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.nwc-align-center:before {
  content: "a";
}
.nwc-align-left:before {
  content: "b";
}
.nwc-align-justify:before {
  content: "c";
}
.nwc-align-right:before {
  content: "d";
}
.nwc-arrow-down:before {
  content: "e";
}
.nwc-archive:before {
  content: "f";
}
.nwc-arrow-left:before {
  content: "g";
}
.nwc-arrow-right:before {
  content: "h";
}
.nwc-arrow-up:before {
  content: "i";
}
.nwc-atom:before {
  content: "j";
}
.nwc-bag:before {
  content: "k";
}
.nwc-bank-notes:before {
  content: "l";
}
.nwc-barbell:before {
  content: "m";
}
.nwc-bookmark:before {
  content: "n";
}
.nwc-book-open:before {
  content: "o";
}
.nwc-book-close:before {
  content: "p";
}
.nwc-bones:before {
  content: "q";
}
.nwc-bolt:before {
  content: "r";
}
.nwc-beer:before {
  content: "s";
}
.nwc-battery-power:before {
  content: "t";
}
.nwc-battery-4:before {
  content: "u";
}
.nwc-battery-3:before {
  content: "v";
}
.nwc-battery-2:before {
  content: "w";
}
.nwc-battery-1:before {
  content: "x";
}
.nwc-battery-0:before {
  content: "y";
}
.nwc-bars:before {
  content: "z";
}
.nwc-box:before {
  content: "A";
}
.nwc-browser:before {
  content: "B";
}
.nwc-bubble:before {
  content: "C";
}
.nwc-bubble-1:before {
  content: "D";
}
.nwc-bubble-2:before {
  content: "E";
}
.nwc-bubble-3:before {
  content: "F";
}
.nwc-bucket:before {
  content: "G";
}
.nwc-calendar:before {
  content: "H";
}
.nwc-calculator:before {
  content: "I";
}
.nwc-camera:before {
  content: "J";
}
.nwc-cardiac-pulse:before {
  content: "K";
}
.nwc-cd:before {
  content: "L";
}
.nwc-character:before {
  content: "M";
}
.nwc-credit-cards:before {
  content: "N";
}
.nwc-connection-4:before {
  content: "O";
}
.nwc-connection-3:before {
  content: "P";
}
.nwc-connection-2:before {
  content: "Q";
}
.nwc-connection-1:before {
  content: "R";
}
.nwc-connection-0:before {
  content: "S";
}
.nwc-comment:before {
  content: "T";
}
.nwc-coffee:before {
  content: "U";
}
.nwc-cloud:before {
  content: "V";
}
.nwc-clock:before {
  content: "W";
}
.nwc-clipboard:before {
  content: "X";
}
.nwc-checkmark:before {
  content: "Y";
}
.nwc-checkbox-checked:before {
  content: "Z";
}
.nwc-crop:before {
  content: "0";
}
.nwc-cube:before {
  content: "1";
}
.nwc-diamond:before {
  content: "2";
}
.nwc-download:before {
  content: "3";
}
.nwc-email:before {
  content: "4";
}
.nwc-email-plane:before {
  content: "5";
}
.nwc-enter:before {
  content: "6";
}
.nwc-envelope:before {
  content: "7";
}
.nwc-eyedropper:before {
  content: "8";
}
.nwc-file:before {
  content: "9";
}
.nwc-file-add:before {
  content: "!";
}
.nwc-file-broken:before {
  content: "\"";
}
.nwc-file-settings:before {
  content: "#";
}
.nwc-home:before {
  content: "$";
}
.nwc-heart:before {
  content: "%";
}
.nwc-grid:before {
  content: "&";
}
.nwc-graph:before {
  content: "'";
}
.nwc-glass:before {
  content: "(";
}
.nwc-frames:before {
  content: ")";
}
.nwc-forbidden:before {
  content: "*";
}
.nwc-folder-settings:before {
  content: "+";
}
.nwc-folder-check:before {
  content: ",";
}
.nwc-folder-add:before {
  content: "-";
}
.nwc-folder:before {
  content: ".";
}
.nwc-flag:before {
  content: "/";
}
.nwc-files:before {
  content: ":";
}
.nwc-id-card:before {
  content: ";";
}
.nwc-micro-mute:before {
  content: "<";
}
.nwc-pill:before {
  content: "=";
}
.nwc-shorts:before {
  content: ">";
}
.nwc-invoice:before {
  content: ";";
}
.nwc-ipad:before {
  content: "<";
}
.nwc-ipad-2:before {
  content: "=";
}
.nwc-lab:before {
  content: ">";
}
.nwc-laptop:before {
  content: "?";
}
.nwc-list:before {
  content: "@";
}
.nwc-lock:before {
  content: "[";
}
.nwc-locked:before {
  content: "]";
}
.nwc-map:before {
  content: "^";
}
.nwc-measure:before {
  content: "_";
}
.nwc-meter:before {
  content: "`";
}
.nwc-micro:before {
  content: "{";
}
.nwc-microwave:before {
  content: "|";
}
.nwc-minus:before {
  content: "}";
}
.nwc-modem:before {
  content: "~";
}
.nwc-mute:before {
  content: "\";
}
.nwc-newspaper:before {
  content: "\e000";
}
.nwc-paperclip:before {
  content: "\e001";
}
.nwc-pencil:before {
  content: "\e002";
}
.nwc-phone:before {
  content: "\e003";
}
.nwc-phone-2:before {
  content: "\e004";
}
.nwc-phone-3:before {
  content: "\e005";
}
.nwc-picture:before {
  content: "\e006";
}
.nwc-pie-chart:before {
  content: "\e007";
}
.nwc-pin:before {
  content: "\e008";
}
.nwc-power:before {
  content: "\e009";
}
.nwc-printer-1:before {
  content: "\e00a";
}
.nwc-printer-2:before {
  content: "\e00b";
}
.nwc-refresh:before {
  content: "\e00c";
}
.nwc-reload:before {
  content: "\e00d";
}
.nwc-screen:before {
  content: "\e00e";
}
.nwc-select:before {
  content: "\e00f";
}
.nwc-set:before {
  content: "\e010";
}
.nwc-settings:before {
  content: "\e011";
}
.nwc-share:before {
  content: "\e012";
}
.nwc-share-outline:before {
  content: "\e013";
}
.nwc-speaker:before {
  content: "\e014";
}
.nwc-star:before {
  content: "\e015";
}
.nwc-stopwatch:before {
  content: "\e016";
}
.nwc-sun:before {
  content: "\e017";
}
.nwc-syringe:before {
  content: "\e018";
}
.nwc-tag:before {
  content: "\e019";
}
.nwc-train:before {
  content: "\e01a";
}
.nwc-trash:before {
  content: "\e01b";
}
.nwc-unlocked:before {
  content: "\e01c";
}
.nwc-user:before {
  content: "\e01d";
}
.nwc-user-outline:before {
  content: "\e01e";
}
.nwc-users:before {
  content: "\e01f";
}
.nwc-users-outline:before {
  content: "\e020";
}
.nwc-volume:before {
  content: "\e021";
}
.nwc-volume-down:before {
  content: "\e022";
}
.nwc-volume-up:before {
  content: "\e023";
}
.nwc-wifi-1:before {
  content: "\e024";
}
.nwc-wifi-2:before {
  content: "\e025";
}
.nwc-wifi-3:before {
  content: "\e026";
}
.nwc-window-delete:before {
  content: "\e027";
}
.nwc-windows:before {
  content: "\e028";
}
.nwc-zoom:before {
  content: "\e029";
}
.nwc-zoom-in:before {
  content: "\e02a";
}
.nwc-zoom-out:before {
  content: "\e02b";
}
.nwc-id-card:before {
  content: "\e02c";
}
.nwc-micro-mute:before {
  content: "\e02d";
}
.nwc-pill:before {
  content: "\e02e";
}
.nwc-shorts:before {
  content: "\e02f";
}
.nwc-linkedin-circled:before {
  content: "\e030";
}
.nwc-info-circled:before {
  content: "\e031";
}
.nwc-gplus-circled:before {
  content: "\e032";
}
.nwc-heart-1:before {
  content: "\e033";
}
.nwc-heart-empty:before {
  content: "\e034";
}
.nwc-dribbble-circled:before {
  content: "\e035";
}
.nwc-facebook-circled:before {
  content: "\e036";
}
.nwc-flickr-circled:before {
  content: "\e037";
}
.nwc-fontawesome-webfont:before {
  content: "\e038";
}
.nwc-fontawesome-webfont-1:before {
  content: "\e039";
}
.nwc-fontawesome-webfont-2:before {
  content: "\e03a";
}
.nwc-fontawesome-webfont-3:before {
  content: "\e03b";
}
.nwc-fontawesome-webfont-4:before {
  content: "\e03c";
}
.nwc-fontawesome-webfont-5:before {
  content: "\e03d";
}
.nwc-fontawesome-webfont-6:before {
  content: "\e03e";
}
.nwc-fontawesome-webfont-7:before {
  content: "\e03f";
}
.nwc-fontawesome-webfont-8:before {
  content: "\e040";
}
.nwc-fontawesome-webfont-9:before {
  content: "\e041";
}
.nwc-nwc-abrv:before {
  content: "\e042";
}
.nwc-nwc-logo:before {
  content: "\e043";
}
.nwc-list-1:before {
  content: "\e044";
}
.nwc-fontawesome-webfont-10:before {
  content: "\e045";
}
