#plp--filters{
    &.sticky{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        background: rgba(255, 255, 255, 0.9);
        padding: 15px;
        border-bottom: 2px solid #d7d7d7;
        z-index: 999;
    }
}

.plp--title{
    display: block;
    height: 60px;
    overflow: hidden;
}

.plp-item--container{
    @include transition-property(box-shadow);
    @include transition-duration(0.4s);
    @include transition-timing-function(ease-in); 
    
    &:hover{
        @include box-shadow(0 0 2px rgba(0,0,0,0.2) );
    }
}

.nearbyStoreDropdown{
    height: 180px;
    width: 290px;
    overflow-y: scroll;
}

#theLoop{
    &.list{
         .plp-item--container{
             width: 100%;
             height: 160px;
             position: relative;
             border-bottom: 1px solid $borderDefault;
             
             .discountNotification, .notification{
                 position: absolute;
                 top: 0;
                 left: 0;
             }
             
             .plp--image{
                 position: absolute;
                 top: 0;
                 left: 50px;
             }
             
             .plp--title{
                 position: absolute;
                 top: 10px;
                 left: 205px;
             }
             
             .plp--modelInfo{
                 display: block !important;
                 position: absolute;
                 top: 30px;
                 left: 205px;
             }
             
             .plp--pricing{
                 position: absolute;
                 top: 10px;
                 right: 0;
                 text-align: right;
             }
             
             .plp--viewProductDetail{
                 display: block !important;
                 position: absolute;
                 top: 80px;
                 right: 0;
             }
             
             .itemReview{
                 position: absolute;
                 top: 60px;
                 left: 205px;
             }
             
             .plp--compareWrap{
                 position: absolute;
                 bottom: 20px;
                 left: 205px;
             }
             
             .plp--compareBtn{
                 margin-left: 10px;
             }
         }
    }
}

#facetActions{
    i{
        cursor: pointer;
        @include transition-property(all);
        @include transition-duration(0.3s);
        @include transition-timing-function(ease-in);
        
        &:hover{
            color: $primary;
        }
    }
    
    i.fa-times{
        &:hover{
            color: $danger;
        }
    }
}

#facets{
    .facet--collapse{
        label{
            cursor: pointer;
            
            &:hover{
                color: $primary;
                
                .fa-square-o{
                    color: $primary;
                }
            }
        }
        
        label:nth-child(n+5){
            position: absolute;
            top: -500px;
            left: -500px;
        }
    }
}

.plp--facetHeading{
    cursor: pointer;
    
    &:hover{
        opacity: 0.7;
    }
}

.plp--compareWrap{
    cursor: pointer;
    
    &:hover{
        i, .plp--compareTitle{
            color: $primary1;
        }
    }
}

.plp--compareWrap.active{
    cursor: pointer;
    
    i{
        color: $success;
    }
    
    .plp--compareTitle{
        color: $dark;
    }
    
    .checkbox{
        &:hover i, &:hover .plp--compareTitle{
            color: $danger;
        }
    }
}