/* Bloomreach Auto Suggest
======================================== */
#brm-results {
	background-color: white; /*#D1D1D1;*/
}

.brm-autosuggest-menu {
	font-family: Helvetica, Verdana, Arial, sans-serif;
	margin: 0;
	position: absolute;
	z-index: 999;
}

.brm-autosuggest-menu>ul {
    padding: 0;
	border: 1px solid rgb(58, 129, 206);
	border-top: none;
	background-color: white;
	float: left;
	list-style-type: none;
	width: 92%;
	border-radius: 0;
	box-shadow: 0 3px 3px rgba(58, 129, 206, 0.3);
}

.brm-autosuggest-menu>ul.right {
	/*
  border: 1px solid #d7d7d7;
  margin-left: -3px;
  width: 39%;
  */
	width: 0%;
	border: none;
	overflow: hidden;
}

.brm-autosuggest-menu>ul>li {
	border-bottom: 1px solid #EEEEEE;
	font-size: 13px;
	padding: 6px;
	position: relative;
}

.brm-autosuggest-menu>ul>li:hover,.brm-autosuggest-menu>ul>li:hover a {
	background: rgb(58, 129, 206);
	color: #fff;
}

.brm-autosuggest-menu>ul.right>li {
	padding: 9px 7px 9px 19px;
}

.brm-autosuggest-menu>ul.right>li:first-child {
	padding: 9px 7px;
}

.brm-autosuggest-menu a {
	display: block;
	color: #888;
	text-decoration: none;
	text-transform: capitalize;
	font-style: none normal;
}

.brm-autosuggest-nub {
	width: 12px;
	height: 29px;
	position: absolute;
	right: -1px;
	top: 8px;
}

/* Bloomreach Related Searches
======================================== */
#br-related-searches-widget{
    font-weight: bold;
    
    ul{
        list-style: none;
        padding: 0;
        margin: 0;
        
        li{
            font-weight: bold;
            float: left;
            margin-right: 30px;
            margin-bottom: 15px;
        }
    }
}
