a{
  color: $primary;
  text-decoration: none;
  @include transition-property(color);
  @include transition-duration(0.2s);
  @include transition-timing-function(ease-in);   
  
  &:hover{
    color: darken( $primary, 15% );
    text-decoration: none;
  }
}