/**************************************
/ Variables
**************************************/
//grey colors
$standardGray: #444;
$standardText: #c0c0c0;
$dullGray: lighten( $standardGray, 23% ); 
$lightGray: #d5d3d4;
$boundsGray: lighten( $standardGray, 57% );
$headerGray: #f9f6f7;

//swatches
$primary: #205081;
$primaryLight: #1c60ac; 
$primaryLightest: #addbe2; 
$primaryDark: #092d5a;
$cta: #bc2227;
$yellow: #fffb8e;
$primaryGray: #eeeced;
$primaryText: #574751;
$paragraph: #9d9a9c;
$success: #62C774;
$action: $primary;
$danger: #FF4535;

//standard sizing
$buttonFontStandardSize: 1em;
$fontStandardSize: 16px;

//media Queries
/* Usage
    @media # { $ tabletV-smaller }{
        ...
    }
*/
//mobile only
$iphone: 'only screen and (max-width: 568px)';

//tablet & mobile
$tabletV-smaller: 'only screen and (max-width: 768px)';
$tabletH-smaller: 'only screen and (max-width: 1024px)';

//tablet only
$tablet-vert: 'only screen and (min-width: 569px) and (max-width: 768px)';
$tablet-horiz: 'only screen and (min-width: 769px) and (max-width: 1024px)';

//desktop and bigger
$desktop: 'only screen and (min-width: 1025px) and (max-width: 1600px)';
$xl: 'only screen and (min-width: 1901px)';

/**************************************
/ Mixins
**************************************/
//mixin to change font, button sizes
@mixin sizing($element, $size) {
    @if $element == 'btn' {
        font-size: $size;
        padding: $size*0.75 $size*3;
    }
    
    @if $element == 'font' {
        font-size: $size;
    }
}

//mixin to change <h1 - h6> font-size and line height
@mixin heading($fontSize) {
  font-size: $fontSize;
  //line-height: $fontSize + 0.3;
}

//background colors
@mixin swatch($background) {
    background: $background;
}

//font colors
@mixin fontSwatch($color) {
    color: $color;
}

//font colors
@mixin rounded($pixels) {
    @include border-radius( $pixels );
}

//alert boxes or warning indicators
@mixin alert($alert) {
    background: lighten( $alert, 5% );
    text-shadow: 0 1px 0 darken( $alert, 25% );
    border: 1px solid darken( $alert, 25% );
}

//border colors
@mixin border-color($color) {
    border-color: $color;
}

//button styles
@mixin link($color) {
    color: #fff;
    border-color: darken( $color, 18% );
    background: $color;

    &:hover { 
      color: #fff;
      border-color: darken( $color, 25% );
      background: darken( $color, 10% );
      @include box-shadow( inset 0 0 6px darken( $color, 40% ) );  
    };
}

//transition
@mixin transitionAll(){
    @include transition-property(all);
    @include transition-duration(0.3s);
    @include transition-timing-function(ease-in);
}
