@media #{ $tabletV-smaller }{
    body.active{
        margin-left: 300px;
        width: 100%;
    }

    #mobileNav{
        position: fixed;
        top: 31px;
        left: 15px;
        font-size: 2em;
        z-index: 9999;
    }

    #mobileNav.active{
        left: 315px;
    }

    #navWrap{
        position: fixed;
        left: 0px;
        width: 300px;
        top: 0;
        background: #fff;
        height: 100%;
        display: none;
        border-right: 1px solid #d7d7d7; 
        text-align: left;
        font-size: 1.4em;
    }

    body.active #navWrap{
        display: block;
    }

    #navWrap ul{
        float: none !important;
        
        li{
            padding: 0px 15px;
            display: block;
            float: none;
        
            a{ 
                display: block;
                line-height: 2em;
            }
        }
    }
    
    .sub-menu{
        position: relative !important;
        display: block !important;
        background: transparent !important;
        border: none !important;
        position: relative !important;
        
        li{
            padding: 0 !important;
        }
    }
}

header{
    .menu-item{
        &:hover{
            .sub-menu{
                display: block;

                a{

                }
            }
        }

        &:hover{
            a{
                background-color: $primary !important;
                color: #fff !important;
                @include border-radius(0);    
            }
        }

        &:last-child{
            .sub-menu{
                right: 0;
            }
        }
    }

    .sub-menu{
        display: none;
        border: 1px solid darken($primary, 15%);;
        border-top: none;
        border-top: none;
        position: absolute;
        width: 300px;
        background: $primary;
        list-style: none;
        margin: 0;
        padding: 0;
        text-align: left;
        z-index: 9999;
        font-size: 14px;

        li{
            padding: 0;
            line-height: 1em;

            a{
                display: block;
                padding: 15px;

                &:hover{
                    background: #fff !important;
                    color: $primary !important;
                }
            }
        }
    }
}

footer nav{
    a{ 
        color: $light;    
    }
}