.alert{
  padding: 8px 35px 8px 14px;
  text-shadow: 0 1px 0 rgba(255,255,255,0.5);
  @include border-radius( 4px );
}

.alert-success{
  @include alert($success);
  color: #fff;
}

.alert-danger{
  @include alert($danger);
  color: #fff;
}

.alert-action{
  @include alert($action);
  color: #fff;
}

.alert-cta{
  @include alert( lighten( $cta, 15% ) );
  color: darken( $cta, 20% );
}