/**************************************
/ Borders
**************************************/
.border--none{ border: none; }

.bordered-bottom{
	border: none;
	border-bottom: 1px solid $boundsGray;
}

.bordered-top{
	border: none;
	border-top: 1px solid $boundsGray;
}

.bordered-left{
    border: none;
    border-left: 1px solid $boundsGray;
}

.bordered-right{
    border: none;
    border-right: 1px solid $boundsGray;
}

.bordered-xs-solid{ 
    border-width: 1px;
    border-style: solid;
    border-color: $boundsGray;
}

.bordered-thin{ 
    border-width: 2px;
}

.bordered-thick{ 
    border-width: 4px;
}

//border colors
.border-color-standardGray{
  @include border-color($standardGray);
}

.border-color-standardText{
  @include border-color($standardText);
}

.border-color-dullGray{
  @include border-color($dullGray);
}

.border-color-lightGray{
  @include border-color($lightGray);
}
    
.border-color-boundsGray{
  @include border-color($boundsGray);
}

.border-color-primary{
  @include border-color($primary);
}

.border-color-primaryLight{
  @include border-color(lighten( $primary, 60% ) );
}

.border-color-primaryDark{
    @include border-color($primaryDark);
}

.border-color-cta{
  @include border-color($cta);
}

.border-color-ctaLight{
  @include border-color(lighten( $cta, 45% ) );
}


.border-color-success{
  @include border-color($success);
}

.border-color-action{
  @include border-color($action);
}

.border-color-danger{
  @include border-color($danger);
}

//radius
.radius--none{
    @include border-radius(0 !important);
}