a{
  color: $primary;
  text-decoration: none;
  @include transition-property(color);
  @include transition-duration(0.2s);
  @include transition-timing-function(ease-in);   
  
  &:hover{
    color: lighten( $primary, 20% );
    text-decoration: none;
  }
}

.cursor--pointer{
    &:hover{
        color: lighten( $primary, 20% );
    }
}