body{
    background: url(../images/bg--hero.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
    #section--hero{
        position: relative;
        background-color: rgba(9,45,90,0.9);
        //@include box-shadow( inset 0px -135px 180px rgba(4,22,45,0.9) );
        
        h2, h3, strong{ 
            font-weight: 900;    
        }
        
        i.keepGoing{
            postion: absolute;
        }
        
        i.yellow{
            display: block;
            width: 65px;
            height: 65px;
            border: 3px solid #365a88;
            text-align: center;
            line-height: 65px;
            padding: 0;
            @include border-radius(500px);
            margin-bottom: 30px;
        }
    }
    
    .goHome{
        position: fixed;
        width: 90px;
        height: 90px;
        display: block;
        line-height: 70px;
        @include border-radius( 100px );
        right: 10px;
        bottom: 10px; 
        z-index: 2;
        border: 5px solid #eeeced;
        cursor: pointer;
        @include transitionAll();
        
        &:hover{
            border-color: $primaryDark;
            background: $primary;
            color: #fff;
        }
    }
}

.keepGoing{
    position: absolute;
    width: 90px;
    height: 90px;
    display: block;
    line-height: 81px;
    @include border-radius( 100px );
    left: 44%;
    bottom: -42px;
    margin: auto; 
    z-index: 2;
    border: 5px solid #eeeced;
}