/*********************
Clients
*********************/
#clients{
    background: url(../images/clients-bg.jpg) no-repeat center center fixed;
    color: $white;
    
    @include text-shadow( 0px 1px 2px rgba(0,0,0, 0.4) );
    @include background-size(cover);
    
    .row{
        background: rgba(54, 63, 72, 0.8);
    }
    
    h1{
        color: $white;    
    }

    h2{
        font-size: 1.9em;
        line-height: 1.3em;
    }

    hr{
        width: 25%;
        border-color: $nwc-purple-light;
    }
}





/**
 * BxSlider v4.0 - Fully loaded, responsive content slider
 * http://bxslider.com
 *
 * Written by: Steven Wanderski, 2012
 * http://stevenwanderski.com
 * (while drinking Belgian ales and listening to jazz)
 *
 * CEO and founder of bxCreative, LTD
 * http://bxcreative.com
 */


/** RESET AND LAYOUT
===================================*/

.bx-wrapper {
	position: relative;
	margin: 0 auto 60px;
	padding: 0;
	*zoom: 1;
}

.bx-wrapper img {
	max-width: 100%;
	display: block;
}

/** THEME
===================================*/

.bx-wrapper .bx-viewport {
	left: -25px;
    margin: 0;
}

.bx-wrapper .bx-pager,
.bx-wrapper .bx-controls-auto {
	position: absolute;
	bottom: -30px;
	width: 100%;
}

/* PAGER */
.bx-controls-direction{ display: none; }

.bx-wrapper .bx-pager {
	text-align: center;
	font-size: .85em;
	font-family: Arial;
	font-weight: bold;
	color: #666;
	padding-top: 20px;
}

.bx-wrapper .bx-pager .bx-pager-item,
.bx-wrapper .bx-controls-auto .bx-controls-auto-item {
	display: inline-block;
	*zoom: 1;
	*display: inline;
}

.bx-wrapper .bx-pager.bx-default-pager a {
	background: #555;
    opacity: 0.4;
	text-indent: -9999px;
	display: block;
	width: 10px;
	height: 10px;
	margin: 0 5px;
	outline: 0;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

#clients .bx-wrapper{
    margin-top: 75px;
    margin-bottom: 75px;    
}
#clients a{
    background: #fff;    
}

.bx-wrapper .bx-pager.bx-default-pager a:hover,
.bx-wrapper .bx-pager.bx-default-pager a.active {
    opacity: 1;
}