/*********************
Contact
*********************/
#contact{
    padding: $uniform-margin 0;
    color: $nwc-medium;  
    
    h4{
        color: $nwc-dark;    
    }
}

#blogStuff{
    
    div{
        padding: 0;    
        
        img{
            padding: 0 10px 10px 0;    
        }
    }
}